pipeline/Dataflow_MaricoDB_AstixDB_copy1.json
{
	"name": "Dataflow_MaricoDB_AstixDB_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup Data Ready to Import",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetFilesReadyForImport]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsmarico_NRC_Prk_InputService_Urban",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTabletobeimported",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Data Ready to Import",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Data Ready to Import').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SpFileEntry",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpFileEntry]",
								"storedProcedureParameters": {
									"Filename": {
										"value": "Done",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MaricoAstixTASDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "NRC_Prk_InputService_Processed_Urban",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE tmp_NRC_Prk_InputService_Processed_Urban",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "OrderRefNo",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "OrderRefNo",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SDCode",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "SDCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RetailerCode",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RetailerCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ParentCode",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ParentCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MRP",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 18
											},
											"sink": {
												"name": "MRP",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Quantity",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "Quantity",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "ProcssedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "ProcssedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsmarico_NRC_Prk_InputService_Processed_Urban",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dsastix_NRC_Prk_InputService_Processed_Urban",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "NRC_Prk_InputService_Urban",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE tmp_NRC_Prk_InputService_Urban",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "OrderRefNo",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "OrderRefNo",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SDCode",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "SDCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RetailerCode",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RetailerCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ParentCode",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ParentCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MRP",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 18
											},
											"sink": {
												"name": "MRP",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Quantity",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "Quantity",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsmarico_NRC_Prk_InputService_Urban",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dsastix_NRC_Prk_InputService_Urban",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Other Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-17T14:14:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}