pipeline/Dataflow_MaricoDB_AstixDB_Type1_Part2.json
{
	"name": "Dataflow_MaricoDB_AstixDB_Type1_Part2",
	"properties": {
		"activities": [
			{
				"name": "Lookup Data Ready to Import",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Cycle Master Entry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT M.FileID,'dbo' SchemaName,M.FileName TableName,L.Date,L.TimePopulated,L.RowID FROM ExtractLog L INNER JOIN ExtractMaster M ON M.FileID=L.FileId WHERE   ISNULL(FlgPulled,0)=0 AND Date=CAST(GETDATE() AS DATE) AND M.FileID IN(4,5,6,7,17,18,19,22,25,36) ORDER BY FileID ASC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsmarico_NRC_Prk_InputService_Urban",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTabletobeimported",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Data Ready to Import",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Data Ready to Import').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CheckforTablenames",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "SpCycFileEntry_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().TableName",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "RetailerMaster_Astic",
										"activities": [
											{
												"name": "RetailerMaster_Astic",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "CycFileID",
																"value": {
																	"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": "SELECT * FROM RetailerMaster_Astic",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ASMArea",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ASMArea",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "DistCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DistCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "DistributorName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DistributorName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Registered",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Registered",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ParentCompRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ParentCompRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RtrName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RtrName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ParentRtrName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ParentRtrName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RelationStatus",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RelationStatus",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RtrAddress1",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RtrAddress1",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RtrAddress2",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RtrAddress2",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RtrAddress3",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RtrAddress3",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RtrPhoneNo",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RtrPhoneNo",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RtrType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RtrType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SMCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SMCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SMName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SMName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Positioncode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Positioncode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RMCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RMCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RMName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RMName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LineofTradeCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "LineofTradeCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ChannelCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ChannelCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ChannelName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ChannelName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SubChannelCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SubChannelCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SubChannelName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SubChannelName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "programName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "programName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RetailerStatus",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RetailerStatus",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RetailerFrequency",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RetailerFrequency",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RetailerSequence",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RetailerSequence",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RelatedParty",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RelatedParty",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "StateName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "StateName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RtrPinCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RtrPinCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CityCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CityCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RouteGTMType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RouteGTMType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CallDays",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CallDays",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Mobileno1",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Mobileno1",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Mobileno2",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Mobileno2",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Lattitude",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Lattitude",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Longitude",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Longitude",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Createddate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "Createddate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "CSRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CSRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CycFileID"
																},
																"sink": {
																	"name": "CycFileID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "Retailer_Type",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Retailer_Type",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ChannelId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "ChannelId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "RouteGTMTypeCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RouteGTMTypeCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsmarico_RetailerMaster_Astic",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "dsastix_RetailerMaster_Astic",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Update Success Log_RetailerMaster_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "RetailerMaster_Astic",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@{activity('RetailerMaster_Astic').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsRead": {
															"value": {
																"value": "@{activity('RetailerMaster_Astic').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Update Error Log_RetailerMaster_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "RetailerMaster_Astic",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('RetailerMaster_Astic').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"RowsRead": {
															"value": null,
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "TEMP_BillwiseITEMWISE_Astic",
										"activities": [
											{
												"name": "TEMP_BillwiseITEMWISE_Astic",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "CycFileID",
																"value": {
																	"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": "SELECT * FROM TEMP_BillwiseITEMWISE_Astic",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "t_date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "t_date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "dist_code",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "dist_code",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "dsr_id",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "dsr_id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "dsr_name",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "dsr_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "beat_id",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "beat_id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "beat_name",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "beat_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "channel",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "channel_sub",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "channel_sub",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "program_1",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "program_1",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "program_2",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "program_2",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "program_3",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "program_3",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "program_4",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "program_4",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "program_5",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "program_5",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "program_6",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "program_6",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "retailer_type",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "retailer_type",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "parent_retailer_code",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "parent_retailer_code",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "retailer_id",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "retailer_id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "item_comp_code",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "item_comp_code",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "item_code",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "item_code",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "batch_no",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "batch_no",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "sale_inv_no",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "sale_inv_no",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "sale_inv_date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "sale_inv_date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "sal_inv_doc",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "sal_inv_doc",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "qty",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "qty",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "rate",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																},
																"sink": {
																	"name": "rate",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "sales_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "sales_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "sales_value",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "sales_value",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "primary_scheme",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "primary_scheme",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "secondary_scheme",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "secondary_scheme",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "spl_disc",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																},
																"sink": {
																	"name": "spl_disc",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "dist_disc",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "dist_disc",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "disp_disc",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																},
																"sink": {
																	"name": "disp_disc",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "addi_lnd",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "addi_lnd",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "sal_ret",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "sal_ret",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "tax1",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																},
																"sink": {
																	"name": "tax1",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "tax2",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																},
																"sink": {
																	"name": "tax2",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_tax",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "total_tax",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "total_dedn",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "total_dedn",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "net_value",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "net_value",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "upload_flag",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "upload_flag",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "teleorderno",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "teleorderno",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "upload_time",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "upload_time",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "mrp",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																},
																"sink": {
																	"name": "mrp",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "retailermargin",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																},
																"sink": {
																	"name": "retailermargin",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "lastmoddate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "lastmoddate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "bill_status",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "bill_status",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "company_code",
																	"type": "String",
																	"physicalType": "char"
																},
																"sink": {
																	"name": "company_code",
																	"type": "String",
																	"physicalType": "char"
																}
															},
															{
																"source": {
																	"name": "salesqty",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "salesqty",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "offerqty",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "offerqty",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "t_sales_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "t_sales_volume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "freevolume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "freevolume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "primaryamt",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "primaryamt",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "primaryschemevolume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "primaryschemevolume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "secondaryschemevolume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "secondaryschemevolume",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "p3discount",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "p3discount",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "cashdiscount",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																},
																"sink": {
																	"name": "cashdiscount",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 3,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "salesextax",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "salesextax",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "last_src_update_date",
																	"type": "DateTime",
																	"physicalType": "date"
																},
																"sink": {
																	"name": "last_src_update_date",
																	"type": "DateTime",
																	"physicalType": "date"
																}
															},
															{
																"source": {
																	"name": "CmpRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CmpRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ParentCmpRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ParentCmpRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RouteGTMType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RouteGTMType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "NormalSecSchemeAmt",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "NormalSecSchemeAmt",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "AddSecSchemeAmt",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																},
																"sink": {
																	"name": "AddSecSchemeAmt",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 6,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "CycFileID"
																},
																"sink": {
																	"name": "CycFileID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsmarico_TEMP_BillwiseITEMWISE_Astic",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "dsastix_TEMP_BillwiseITEMWISE_Astic",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Update Success Log_TEMP_BillwiseITEMWISE_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "TEMP_BillwiseITEMWISE_Astic",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@{activity('TEMP_BillwiseITEMWISE_Astic').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsRead": {
															"value": {
																"value": "@{activity('TEMP_BillwiseITEMWISE_Astic').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Update Error Log_TEMP_BillwiseITEMWISE_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "TEMP_BillwiseITEMWISE_Astic",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('TEMP_BillwiseITEMWISE_Astic').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"RowsRead": {
															"value": null,
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "ProductDetails_PT_Astic",
										"activities": [
											{
												"name": "ProductDetails_PT_Astic",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "CycFileID",
																"value": {
																	"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": "SELECT * FROM ProductDetails_PT_Astic",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "CountryId",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "CountryId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "CountryCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CountryCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CountryName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CountryName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Country-DivisionCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Country-DivisionCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "DivisionId",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "DivisionId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "DivisionCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DivisionCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "DivisionName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DivisionName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Division-CategoryCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Division-CategoryCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CategoryId",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "CategoryId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "CategoryCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CategoryCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CategoryName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CategoryName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Category-BrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Category-BrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "BrandId",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "BrandId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "BrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "BrandName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrandName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Brand-SubBrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Brand-SubBrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SubBrandId",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "SubBrandId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "SubBrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SubBrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SubBrandName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SubBrandName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SubBrand-SKU_Code",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SubBrand-SKU_Code",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SKU_Id",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "SKU_Id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "SKU_Code",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SKU_Code",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SKU_Name",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SKU_Name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SKU_-ProductCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SKU_-ProductCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ProductId",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "ProductId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "ProductCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ProductCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ProductName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ProductName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UploadFlag",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UploadFlag",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "CycFileID"
																},
																"sink": {
																	"name": "CycFileID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsmarico_ProductDetails_PT_Astic",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "dsastix_ProductDetails_PT_Astic",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Update Success Log_ProductDetails_PT_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "ProductDetails_PT_Astic",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@{activity('ProductDetails_PT_Astic').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsRead": {
															"value": {
																"value": "@{activity('ProductDetails_PT_Astic').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Update Error Log_ProductDetails_PT_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "ProductDetails_PT_Astic",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('ProductDetails_PT_Astic').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"RowsRead": {
															"value": null,
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "RouteMaster_Astic",
										"activities": [
											{
												"name": "RouteMaster_Astic",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "CycFileID",
																"value": {
																	"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": "SELECT * FROM RouteMaster_Astic",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "DistCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DistCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RMCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RMCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RMName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RMName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Monday",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Monday",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Tuesday",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Tuesday",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Wednesday",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Wednesday",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Thursday",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Thursday",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Friday",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Friday",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Saturday",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Saturday",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Sunday",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Sunday",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UploadFlag",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UploadFlag",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "CycFileID"
																},
																"sink": {
																	"name": "CycFileID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsmarico_RouteMaster_Astic",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "dsastix_RouteMaster_Astic",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Update Success Log_RouteMaster_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "RouteMaster_Astic",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@{activity('RouteMaster_Astic').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsRead": {
															"value": {
																"value": "@{activity('RouteMaster_Astic').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Update Error Log_RouteMaster_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "RouteMaster_Astic",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('RouteMaster_Astic').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"RowsRead": {
															"value": null,
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "Console2Minet_TCOutletSchedule_Astic",
										"activities": [
											{
												"name": "Console2Minet_TCOutletSchedule_Astic",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "CycFileID",
																"value": {
																	"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": "SELECT * FROM Console2Minet_TCOutletSchedule_Astic",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Year",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Year",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Month",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Month",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Division",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Division",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ASMArea",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ASMArea",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "DistCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DistCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SMType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SMType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SMPositionCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SMPositionCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SMCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SMCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RMCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RMCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ChannelCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ChannelCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ParentRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ParentRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ChildRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ChildRtrCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ClusterType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ClusterType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ClusterFrequency",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ClusterFrequency",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CallAttempt",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "CallAttempt",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Calldate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "Calldate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "AgencyID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "AgencyID",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "AgencyName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "AgencyName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "TCAgentID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "TCAgentID",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "TCAgentName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TCAgentName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UploadFlag",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UploadFlag",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "CycFileID"
																},
																"sink": {
																	"name": "CycFileID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsmarico_Console2Minet_TCOutletSchedule_Astic",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "dsastix_Console2Minet_TCOutletSchedule_Astic",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Update Success Log_Console2Minet_TCOutletSchedule_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Console2Minet_TCOutletSchedule_Astic",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@{activity('Console2Minet_TCOutletSchedule_Astic').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsRead": {
															"value": {
																"value": "@{activity('Console2Minet_TCOutletSchedule_Astic').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Update Error Log_Console2Minet_TCOutletSchedule_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Console2Minet_TCOutletSchedule_Astic",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Console2Minet_TCOutletSchedule_Astic').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"RowsRead": {
															"value": null,
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "BrandGTMCategory_Astic",
										"activities": [
											{
												"name": "BrandGTMCategory_Astic",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "CycFileID",
																"value": {
																	"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": "SELECT * FROM BrandGTMCategory_Astic",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Year",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Year",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Month",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Month",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "DistributorCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DistributorCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "BrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrandCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "GTMType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "GTMType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Channel",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Channel",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Createddate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "Createddate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "CycFileID"
																},
																"sink": {
																	"name": "CycFileID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsmarico_BrandGTMCategory_Astic",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "dsastix_BrandGTMCategory_Astic",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Update Success Log_BrandGTMCategory_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "BrandGTMCategory_Astic",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@{activity('BrandGTMCategory_Astic').output.rowsRead}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"RowsRead": {
															"value": {
																"value": "@{activity('BrandGTMCategory_Astic').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Update Error Log_BrandGTMCategory_Astic",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "BrandGTMCategory_Astic",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[SpCycFileEntry_UpdateLog]",
													"storedProcedureParameters": {
														"CycFileID": {
															"value": {
																"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('BrandGTMCategory_Astic').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"RowsRead": {
															"value": null,
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "MaricoAstixTASDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "SpCycFileEntry_End",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CheckforTablenames",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpCycFileEntry]",
								"storedProcedureParameters": {
									"CycleUnqID": {
										"value": {
											"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID\n",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DataDate": {
										"value": {
											"value": "@item().Date",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"FileID": {
										"value": {
											"value": "@item().FileID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"flgProcessType": {
										"value": "2",
										"type": "Byte"
									},
									"TimePopulated": {
										"value": {
											"value": "@item().TimePopulated",
											"type": "Expression"
										},
										"type": "Timespan"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MaricoAstixTASDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SpCycFileEntry_Start",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "ExtractLog_Update_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpCycFileEntry]",
									"storedProcedureParameters": {
										"CycleUnqID": {
											"type": "Int32",
											"value": {
												"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID",
												"type": "Expression"
											}
										},
										"DataDate": {
											"type": "DateTime",
											"value": {
												"value": "@item().Date",
												"type": "Expression"
											}
										},
										"FileID": {
											"type": "Int32",
											"value": {
												"value": "@item().FileID",
												"type": "Expression"
											}
										},
										"flgProcessType": {
											"type": "Byte",
											"value": "1"
										},
										"TimePopulated": {
											"type": "Timespan",
											"value": {
												"value": "@item().TimePopulated",
												"type": "Expression"
											}
										},
										"RowID": {
											"type": "Int32",
											"value": {
												"value": "@item().RowID",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsastix_NRC_Prk_InputService_Processed_Urban",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "ExtractLog_Update_Start",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpExtractLog_Update]",
								"storedProcedureParameters": {
									"Date": {
										"value": {
											"value": "@item().Date",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"FileID": {
										"value": {
											"value": "@item().FileID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Timepopulated": {
										"value": {
											"value": "@item().TimePopulated",
											"type": "Expression"
										},
										"type": "TimeSpan"
									},
									"Type": {
										"value": "1",
										"type": "Byte"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Marico_Live",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ExtractLog_Update_End",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Source Data Delete",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpExtractLog_Update]",
								"storedProcedureParameters": {
									"Date": {
										"value": {
											"value": "@item().Date",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"FileID": {
										"value": {
											"value": "@item().FileID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Timepopulated": {
										"value": {
											"value": "@item().TimePopulated",
											"type": "Expression"
										},
										"type": "TimeSpan"
									},
									"Type": {
										"value": "2",
										"type": "Byte"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Marico_Live",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Source Data Delete",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SpCycFileEntry_End",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpTransactionDataArchive]",
								"storedProcedureParameters": {
									"FileID": {
										"value": {
											"value": "@item().FileID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowID": {
										"value": {
											"value": "@item().RowID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Marico_Live",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Cycle Master Entry",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCycEntry]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsastix_NRC_Prk_InputService_Urban",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Send Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEachTabletobeimported",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "avinash@astixsolutions.com",
						"Subject": "Marico Datafactory Error",
						"ErrorMessage": "Eror in Type 1 Transfer log on to portal for more details"
					}
				}
			}
		],
		"folder": {
			"name": "Active Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-12T07:42:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}