pipeline/FileLoadingLoop_Testing.json
{
	"name": "FileLoadingLoop_Testing",
	"properties": {
		"activities": [
			{
				"name": "Lookup All FIles Imported",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpIsFullProcessComplete]",
						"storedProcedureParameters": {
							"Date": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsastix_DSRAbsentee_Data",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LoadingDone",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup All FIles Imported",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "flgLoadingDone",
					"value": {
						"value": "@bool(activity('Lookup All FIles Imported').output.firstRow.flgDone)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "LoadingDone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('flgLoadingDone'),'true'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup All FIles Imported Check",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpIsFullProcessComplete]",
									"storedProcedureParameters": {
										"Date": {
											"type": "DateTime",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsastix_DSRAbsentee_Data",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LoadingDoneCheck",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup All FIles Imported Check",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "flgLoadingDone",
								"value": {
									"value": "@bool(activity('Lookup All FIles Imported Check').output.firstRow.flgDone)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LoadingDoneCheck",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@variables('flgLoadingDone')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Lookup Old Process Running",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "OldprocessDoneCheck_Reset",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpIsOLDProcessRunning]",
												"storedProcedureParameters": {
													"Date": {
														"type": "DateTime",
														"value": {
															"value": "@utcnow()",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "dsastix_DSRAbsentee_Data",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "OldprocessDoneCheck",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Lookup Old Process Running",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "flgoldjobrunning",
											"value": {
												"value": "@bool(activity('Lookup Old Process Running').output.firstRow.flgRunnig)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "OldprocessDoneCheck_Reset",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "flgoldjobrunning",
											"value": false
										}
									},
									{
										"name": "Fileloadingbasedonstatus",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "OldprocessDoneCheck",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Fileloadingbasedonstatus",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"flgoldjobrunning": {
													"value": "@variables('flgoldjobrunning')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"flgLoadingDone": {
				"type": "Boolean"
			},
			"flgoldjobrunning": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-06-12T15:29:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}