Marico-Astix-Tas-Integration/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Marico-Astix-Tas-Integration"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_NRC_SCHEME_HEADER_Urban')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DISTCODE",
						"type": "varchar"
					},
					{
						"name": "RTRCODE",
						"type": "varchar"
					},
					{
						"name": "CMPSCHCODE",
						"type": "varchar"
					},
					{
						"name": "SCHLEVEL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SCHTYPE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ISRANGE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PurOfEvery",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProRata",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BUDGETAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "MRPLevel",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ClaimGroupCode",
						"type": "varchar"
					},
					{
						"name": "CREATEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SchemeRemarks",
						"type": "varchar"
					},
					{
						"name": "FreeProduct",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "QPS",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "QPSBasedon",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "QPSReset",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Outlet_Cap",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Bill_Cap",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "CrossbrandQps",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MixofSupply",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TotalLinesSold",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "OrderType",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NRC_SCHEME_HEADER_Urban"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_NRC_SCHEME_PRODUCTMASTER_Urban')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DistCode",
						"type": "varchar"
					},
					{
						"name": "BRANDCODE",
						"type": "varchar"
					},
					{
						"name": "BRANDNAME",
						"type": "varchar"
					},
					{
						"name": "SKUCODE",
						"type": "varchar"
					},
					{
						"name": "PRODUCTCODE",
						"type": "varchar"
					},
					{
						"name": "PRODUCTUNIT",
						"type": "varchar"
					},
					{
						"name": "PRODUCTUOM",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "PRODUCTWEIGHT",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "CaseUomid",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "CREATEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NRC_SCHEME_PRODUCTMASTER_Urban"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_NRC_SCHEME_PRODUCTS_Urban')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DISTCODE",
						"type": "varchar"
					},
					{
						"name": "CMPSCHCODE",
						"type": "varchar"
					},
					{
						"name": "SKUCODE",
						"type": "varchar"
					},
					{
						"name": "PRODUCTCODE",
						"type": "varchar"
					},
					{
						"name": "MRP",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "CREATEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NRC_SCHEME_PRODUCTS_Urban"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_NRC_SCHEME_RetailerMaster_Urban')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DISTCODE",
						"type": "varchar"
					},
					{
						"name": "RTRCODE",
						"type": "varchar"
					},
					{
						"name": "CmpRtrCode",
						"type": "varchar"
					},
					{
						"name": "ChannelCode",
						"type": "varchar"
					},
					{
						"name": "SubChannelCode",
						"type": "varchar"
					},
					{
						"name": "LineofTrade",
						"type": "varchar"
					},
					{
						"name": "ClassCode",
						"type": "varchar"
					},
					{
						"name": "CREATEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NRC_SCHEME_RetailerMaster_Urban"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_NRC_SCHEME_SLABS_Urban')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DISTCODE",
						"type": "varchar"
					},
					{
						"name": "CMPSCHCODE",
						"type": "varchar"
					},
					{
						"name": "SLABID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FROMQTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TOQTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FOREVERYQTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FROMUOMID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TOUOMID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FOREVERYUOMID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISCPERC",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "FLATAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "SchType",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "CREATEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NRC_SCHEME_SLABS_Urban"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_ProductDetails_PT_Astic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CountryId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CountryCode",
						"type": "varchar"
					},
					{
						"name": "CountryName",
						"type": "varchar"
					},
					{
						"name": "Country-DivisionCode",
						"type": "varchar"
					},
					{
						"name": "DivisionId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DivisionCode",
						"type": "varchar"
					},
					{
						"name": "DivisionName",
						"type": "varchar"
					},
					{
						"name": "Division-CategoryCode",
						"type": "varchar"
					},
					{
						"name": "CategoryId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CategoryCode",
						"type": "varchar"
					},
					{
						"name": "CategoryName",
						"type": "varchar"
					},
					{
						"name": "Category-BrandCode",
						"type": "varchar"
					},
					{
						"name": "BrandId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BrandCode",
						"type": "varchar"
					},
					{
						"name": "BrandName",
						"type": "varchar"
					},
					{
						"name": "Brand-SubBrandCode",
						"type": "varchar"
					},
					{
						"name": "SubBrandId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SubBrandCode",
						"type": "varchar"
					},
					{
						"name": "SubBrandName",
						"type": "varchar"
					},
					{
						"name": "SubBrand-SKU_Code",
						"type": "varchar"
					},
					{
						"name": "SKU_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SKU_Code",
						"type": "varchar"
					},
					{
						"name": "SKU_Name",
						"type": "varchar"
					},
					{
						"name": "SKU_-ProductCode",
						"type": "varchar"
					},
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductCode",
						"type": "varchar"
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "UploadFlag",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ProductDetails_PT_Astic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_RetailerMaster_Astic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ASMArea",
						"type": "varchar"
					},
					{
						"name": "DistCode",
						"type": "varchar"
					},
					{
						"name": "DistributorName",
						"type": "varchar"
					},
					{
						"name": "RtrCode",
						"type": "varchar"
					},
					{
						"name": "Registered",
						"type": "varchar"
					},
					{
						"name": "ParentCompRtrCode",
						"type": "varchar"
					},
					{
						"name": "RtrName",
						"type": "varchar"
					},
					{
						"name": "ParentRtrName",
						"type": "varchar"
					},
					{
						"name": "RelationStatus",
						"type": "varchar"
					},
					{
						"name": "RtrAddress1",
						"type": "varchar"
					},
					{
						"name": "RtrAddress2",
						"type": "varchar"
					},
					{
						"name": "RtrAddress3",
						"type": "varchar"
					},
					{
						"name": "RtrPhoneNo",
						"type": "varchar"
					},
					{
						"name": "RtrType",
						"type": "varchar"
					},
					{
						"name": "SMCode",
						"type": "varchar"
					},
					{
						"name": "SMName",
						"type": "varchar"
					},
					{
						"name": "Positioncode",
						"type": "varchar"
					},
					{
						"name": "RMCode",
						"type": "varchar"
					},
					{
						"name": "RMName",
						"type": "varchar"
					},
					{
						"name": "LineofTradeCode",
						"type": "varchar"
					},
					{
						"name": "ChannelCode",
						"type": "varchar"
					},
					{
						"name": "ChannelName",
						"type": "varchar"
					},
					{
						"name": "SubChannelCode",
						"type": "varchar"
					},
					{
						"name": "SubChannelName",
						"type": "varchar"
					},
					{
						"name": "programName",
						"type": "varchar"
					},
					{
						"name": "RetailerStatus",
						"type": "varchar"
					},
					{
						"name": "RetailerFrequency",
						"type": "varchar"
					},
					{
						"name": "RetailerSequence",
						"type": "varchar"
					},
					{
						"name": "RelatedParty",
						"type": "varchar"
					},
					{
						"name": "StateName",
						"type": "varchar"
					},
					{
						"name": "RtrPinCode",
						"type": "varchar"
					},
					{
						"name": "CityCode",
						"type": "varchar"
					},
					{
						"name": "RouteGTMType",
						"type": "varchar"
					},
					{
						"name": "CallDays",
						"type": "varchar"
					},
					{
						"name": "Mobileno1",
						"type": "varchar"
					},
					{
						"name": "Mobileno2",
						"type": "varchar"
					},
					{
						"name": "Lattitude",
						"type": "varchar"
					},
					{
						"name": "Longitude",
						"type": "varchar"
					},
					{
						"name": "Createddate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CSRtrCode",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RetailerMaster_Astic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_RouteMaster_Astic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DistCode",
						"type": "varchar"
					},
					{
						"name": "RMCode",
						"type": "varchar"
					},
					{
						"name": "RMName",
						"type": "varchar"
					},
					{
						"name": "Monday",
						"type": "varchar"
					},
					{
						"name": "Tuesday",
						"type": "varchar"
					},
					{
						"name": "Wednesday",
						"type": "varchar"
					},
					{
						"name": "Thursday",
						"type": "varchar"
					},
					{
						"name": "Friday",
						"type": "varchar"
					},
					{
						"name": "Saturday",
						"type": "varchar"
					},
					{
						"name": "Sunday",
						"type": "varchar"
					},
					{
						"name": "UploadFlag",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RouteMaster_Astic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_TEMP_BillwiseITEMWISE_Astic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "t_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dist_code",
						"type": "varchar"
					},
					{
						"name": "dsr_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dsr_name",
						"type": "varchar"
					},
					{
						"name": "beat_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "beat_name",
						"type": "varchar"
					},
					{
						"name": "channel",
						"type": "varchar"
					},
					{
						"name": "channel_sub",
						"type": "varchar"
					},
					{
						"name": "program_1",
						"type": "varchar"
					},
					{
						"name": "program_2",
						"type": "varchar"
					},
					{
						"name": "program_3",
						"type": "varchar"
					},
					{
						"name": "program_4",
						"type": "varchar"
					},
					{
						"name": "program_5",
						"type": "varchar"
					},
					{
						"name": "program_6",
						"type": "varchar"
					},
					{
						"name": "retailer_type",
						"type": "varchar"
					},
					{
						"name": "parent_retailer_code",
						"type": "varchar"
					},
					{
						"name": "retailer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "retailer_code",
						"type": "varchar"
					},
					{
						"name": "retailer_name",
						"type": "varchar"
					},
					{
						"name": "item_comp_code",
						"type": "varchar"
					},
					{
						"name": "item_code",
						"type": "varchar"
					},
					{
						"name": "batch_no",
						"type": "varchar"
					},
					{
						"name": "sale_inv_no",
						"type": "varchar"
					},
					{
						"name": "sale_inv_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sal_inv_doc",
						"type": "varchar"
					},
					{
						"name": "qty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rate",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "sales_volume",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "sales_value",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "primary_scheme",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "secondary_scheme",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "spl_disc",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "dist_disc",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "disp_disc",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "addi_lnd",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "sal_ret",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "tax1",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "tax2",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "total_tax",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "total_dedn",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "net_value",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "upload_flag",
						"type": "varchar"
					},
					{
						"name": "teleorderno",
						"type": "varchar"
					},
					{
						"name": "upload_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "mrp",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "retailermargin",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "lastmoddate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "bill_status",
						"type": "varchar"
					},
					{
						"name": "company_code",
						"type": "char"
					},
					{
						"name": "salesqty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "offerqty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_sales_volume",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "freevolume",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "primaryamt",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "primaryschemevolume",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "secondaryschemevolume",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "p3discount",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "cashdiscount",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "salesextax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "last_src_update_date",
						"type": "date"
					},
					{
						"name": "CmpRtrCode",
						"type": "varchar"
					},
					{
						"name": "ParentCmpRtrCode",
						"type": "varchar"
					},
					{
						"name": "RouteGTMType",
						"type": "varchar"
					},
					{
						"name": "NormalSecSchemeAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "AddSecSchemeAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TEMP_BillwiseITEMWISE_Astic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_TEMP_ClosingStockDetail_Astic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DistCode",
						"type": "varchar"
					},
					{
						"name": "Item_Code",
						"type": "varchar"
					},
					{
						"name": "Closing_Saleable_Qty",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Closing_Offer_Qty",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "ServerDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UploadFlag",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TEMP_ClosingStockDetail_Astic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_Tbl_RetailerwiseTargetClient_Newlogic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DistributorCode",
						"type": "varchar"
					},
					{
						"name": "DistributorName",
						"type": "varchar"
					},
					{
						"name": "TargetMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TargetYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DSRID",
						"type": "varchar"
					},
					{
						"name": "DSRName",
						"type": "varchar"
					},
					{
						"name": "BeatID",
						"type": "varchar"
					},
					{
						"name": "BeatName",
						"type": "varchar"
					},
					{
						"name": "RetailerCode",
						"type": "varchar"
					},
					{
						"name": "RetailerName",
						"type": "varchar"
					},
					{
						"name": "CMPRetailerCode",
						"type": "varchar"
					},
					{
						"name": "ChannelCode",
						"type": "varchar"
					},
					{
						"name": "ChannelName",
						"type": "varchar"
					},
					{
						"name": "BrandName",
						"type": "varchar"
					},
					{
						"name": "TargetVolume",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "TargetBPM",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "ParentSKUcode",
						"type": "varchar"
					},
					{
						"name": "CompParentretailerCode",
						"type": "varchar"
					},
					{
						"name": "CSParentretailercode",
						"type": "varchar"
					},
					{
						"name": "RouteGTMType",
						"type": "varchar"
					},
					{
						"name": "IndexBPM",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Tbl_RetailerwiseTargetClient_Newlogic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_TelecallerMessageDistList')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "MessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DistributorId",
						"type": "varchar"
					},
					{
						"name": "RetailerCode",
						"type": "varchar"
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SchedulerCycleDateTime",
						"type": "time",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TelecallerMessage_DistList"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsmarico_TelecallerMessageMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Marico_Live",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Marico"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "MessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MessageTitle",
						"type": "nvarchar"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "StartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TelecallerMessageMaster"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScaleDB_Processing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ScaleUpDB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-02-18T07:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								45
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScaleupDB_Morning')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ScaleUpDB_200DTU",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-05-21T05:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								45
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TruncateAllTempTables')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "TruncateTempTableData",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-02-12T02:00:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_AstixDB_MaricoDB_TESOrders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cycle Master Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycEntry]",
								"storedProcedureParameters": {
									"flgInOut": {
										"type": "Byte",
										"value": "2"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_NRC_Prk_InputService_Urban",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpCycFileEntry_Start",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Cycle Master Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry_Push]",
								"storedProcedureParameters": {
									"CycleUnqID": {
										"type": "Int32",
										"value": {
											"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "30",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "1"
									},
									"RowsRead": {
										"type": "Int32",
										"value": null
									},
									"RowsCopied": {
										"type": "Int32",
										"value": null
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_NRC_Prk_InputService_Processed_Urban",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpExtractLog_Update_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetOrderListToPush",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpExtractLog_Update]",
							"storedProcedureParameters": {
								"Date": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FileID": {
									"value": {
										"value": "30",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Timepopulated": {
									"value": {
										"value": "@activity('SpCycFileEntry_Start').output.firstRow.TimePopulated",
										"type": "Expression"
									},
									"type": "TimeSpan"
								},
								"Type": {
									"value": "1",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Marico_Live",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpExtractLog_Update_End",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TES Order",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SpExtractLog_Update",
							"storedProcedureParameters": {
								"Date": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FileID": {
									"value": {
										"value": "30",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Timepopulated": {
									"value": {
										"value": "@activity('SpCycFileEntry_Start').output.firstRow.TimePopulated",
										"type": "Expression"
									},
									"type": "TimeSpan"
								},
								"Type": {
									"value": "2",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Marico_Live",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TES Order",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SpExtractLog_Update_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "SchedulerCycleDateTime",
										"value": {
											"value": "@activity('SpCycFileEntry_Start').output.firstRow.TimePopulated",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": {
									"value": "SELECT DIST_CODE,RETAILER_CODE,RETAILER_NAME,BEAT_DESC,SKU_CODE,SKU_DESC,ORDER_QTY,TELE_ORDER_NO,TELE_CALLER_ID,TELE_CALLER_NAME,DOWNLOAD_FLAG,ORDER_DATE,RouteGTMType,CycleId,Retailer_Type FROM mrco_MI_TELE_ORDER WHERE CycleId='@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DIST_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DIST_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RETAILER_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RETAILER_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RETAILER_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RETAILER_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BEAT_DESC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BEAT_DESC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SKU_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SKU_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SKU_DESC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SKU_DESC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORDER_QTY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ORDER_QTY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TELE_ORDER_NO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TELE_ORDER_NO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TELE_CALLER_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TELE_CALLER_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TELE_CALLER_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TELE_CALLER_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DOWNLOAD_FLAG",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DOWNLOAD_FLAG",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORDER_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ORDER_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "RouteGTMType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RouteGTMType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SchedulerCycleDateTime"
										},
										"sink": {
											"name": "SchedulerCycleDateTime",
											"type": "TimeSpan",
											"physicalType": "time"
										}
									},
									{
										"source": {
											"name": "Retailer_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Retailer_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsastix_MI_TELE_ORDER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dsmarico_MI_TELE_ORDER",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SpCycFileEntry_End",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SpExtractLog_Update_End",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry_Push]",
								"storedProcedureParameters": {
									"CycleUnqID": {
										"type": "Int32",
										"value": {
											"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "30",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "2"
									},
									"CycFileID": {
										"type": "Int64",
										"value": {
											"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
											"type": "Expression"
										}
									},
									"RowsRead": {
										"type": "Int32",
										"value": {
											"value": "@{activity('TES Order').output.rowsRead}\n",
											"type": "Expression"
										}
									},
									"RowsCopied": {
										"type": "Int32",
										"value": {
											"value": "@{activity('TES Order').output.rowsCopied}\n",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_NRC_Prk_InputService_Processed_Urban",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "spGetOrderListToPush",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SpCycFileEntry_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetOrderListToPush]",
								"storedProcedureParameters": {
									"CycFileId": {
										"type": "Int64",
										"value": {
											"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_Console2Minet_TCOutletSchedule_Astic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Order Transfer Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SpCycFileEntry_End",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTransferOrderStatus]",
							"storedProcedureParameters": {
								"CycFileId": {
									"value": {
										"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"flgStatus": {
									"value": "1",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "MaricoAstixTASDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Order Transfer Fail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SpCycFileEntry_End",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "TES Order",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTransferOrderStatus]",
							"storedProcedureParameters": {
								"CycFileId": {
									"value": {
										"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"flgStatus": {
									"value": "2",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "MaricoAstixTASDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpCycFileEntry_Start_Message",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Cycle Master Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry_Push]",
								"storedProcedureParameters": {
									"CycleUnqID": {
										"type": "Int32",
										"value": {
											"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "34",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "1"
									},
									"RowsRead": {
										"type": "Int32",
										"value": null
									},
									"RowsCopied": {
										"type": "Int32",
										"value": null
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_NRC_Prk_InputService_Processed_Urban",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "spGetMessageToPush",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SpCycFileEntry_Start_Message",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetTeleCallerMessage]",
								"storedProcedureParameters": {
									"CycFileId": {
										"type": "Int64",
										"value": {
											"value": "@activity('SpCycFileEntry_Start_Message').output.firstRow.CycFileID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_Console2Minet_TCOutletSchedule_Astic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpExtractLog_Update_Start_Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetMessageToPush",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpExtractLog_Update]",
							"storedProcedureParameters": {
								"Date": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FileID": {
									"value": {
										"value": "34",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Timepopulated": {
									"value": {
										"value": "@activity('SpCycFileEntry_Start_Message').output.firstRow.TimePopulated",
										"type": "Expression"
									},
									"type": "TimeSpan"
								},
								"Type": {
									"value": "1",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Marico_Live",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TES Message Copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SpExtractLog_Update_Start_Message",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "SchedulerCycleDateTime",
										"value": {
											"value": "@activity('SpCycFileEntry_Start_Message').output.firstRow.TimePopulated",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": {
									"value": "SELECT MessageID,MessageTitle,Description,StartDate,EndDate,CreatedBy,CreatedDate,CycFileId FROM mrco_TelecallerMessageMaster WHERE CycFileId='@{activity('SpCycFileEntry_Start_Message').output.firstRow.CycFileID}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MessageID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MessageID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MessageTitle",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MessageTitle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StartDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "StartDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "EndDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "EndDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SchedulerCycleDateTime"
										},
										"sink": {
											"name": "SchedulerCycleDateTime",
											"type": "TimeSpan",
											"physicalType": "time"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsastix_TelecallerMessageMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dsmarico_TelecallerMessageMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TES Message Dist Copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TES Message Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "SchedulerCycleDateTime",
										"value": {
											"value": "@activity('SpCycFileEntry_Start_Message').output.firstRow.TimePopulated",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": {
									"value": "SELECT MessageID,DistributorId,RetailerCode,CreatedBy,CreatedDate,CreatedBy,CycFileId,TeleCallingId FROM mrco_TelecallerMessage_DistList WHERE CycFileId='@{activity('SpCycFileEntry_Start_Message').output.firstRow.CycFileID}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MessageID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MessageID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DistributorId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DistributorId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RetailerCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RetailerCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SchedulerCycleDateTime"
										},
										"sink": {
											"name": "SchedulerCycleDateTime",
											"type": "TimeSpan",
											"physicalType": "time"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsastix_TelecallerMessageDistList",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dsmarico_TelecallerMessageDistList",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SpExtractLog_Message_Update_End",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TES Message Dist Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SpExtractLog_Update",
							"storedProcedureParameters": {
								"Date": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FileID": {
									"value": {
										"value": "30",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Timepopulated": {
									"value": {
										"value": "@activity('SpCycFileEntry_Start_Message').output.firstRow.TimePopulated",
										"type": "Expression"
									},
									"type": "TimeSpan"
								},
								"Type": {
									"value": "2",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Marico_Live",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpCycFileEntry_Message_End",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SpExtractLog_Message_Update_End",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry_Push]",
								"storedProcedureParameters": {
									"CycleUnqID": {
										"type": "Int32",
										"value": {
											"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "30",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "2"
									},
									"CycFileID": {
										"type": "Int64",
										"value": {
											"value": "@activity('SpCycFileEntry_Start_Message').output.firstRow.CycFileID",
											"type": "Expression"
										}
									},
									"RowsRead": {
										"type": "Int32",
										"value": {
											"value": "@{activity('TES Message Copy').output.rowsRead}\n",
											"type": "Expression"
										}
									},
									"RowsCopied": {
										"type": "Int32",
										"value": {
											"value": "@{activity('TES Message Copy').output.rowsCopied}\n",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_NRC_Prk_InputService_Processed_Urban",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Message Transfer Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SpCycFileEntry_Message_End",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTransferTeleCallerMessageStatus]",
							"storedProcedureParameters": {
								"CycFileId": {
									"value": {
										"value": "@activity('SpCycFileEntry_Start_Message').output.firstRow.CycFileID",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"flgStatus": {
									"value": "1",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "MaricoAstixTASDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Message Transfer Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SpCycFileEntry_Message_End",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "TES Message Copy",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "TES Message Dist Copy",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTransferTeleCallerMessageStatus]",
							"storedProcedureParameters": {
								"CycFileId": {
									"value": {
										"value": "@activity('SpCycFileEntry_Start_Message').output.firstRow.CycFileID",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"flgStatus": {
									"value": "2",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "MaricoAstixTASDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-09T04:17:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsmarico_TelecallerMessageMaster')]",
				"[concat(variables('factoryId'), '/datasets/dsmarico_TelecallerMessageDistList')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_MaricoDB_AstixDB_ClosingStock')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Data Ready to Import",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Cycle Master Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT M.FileID,'dbo' SchemaName,M.FileName TableName,L.Date,L.TimePopulated,L.RowID FROM ExtractLog L INNER JOIN ExtractMaster M ON M.FileID=L.FileId WHERE   ISNULL(FlgPulled,0)=0 AND Date=CAST(GETDATE() AS DATE) AND M.FileID IN(20) ORDER BY FileID ASC",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsmarico_NRC_Prk_InputService_Urban",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachTabletobeimported",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Data Ready to Import",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Data Ready to Import').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "CheckforTablenames",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "SpCycFileEntry_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "TEMP_ClosingStockDetail_Astic",
												"activities": [
													{
														"name": "TEMP_ClosingStockDetail_Astic",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "SqlServerSource",
																"additionalColumns": [
																	{
																		"name": "CycFileID",
																		"value": {
																			"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																			"type": "Expression"
																		}
																	}
																],
																"sqlReaderQuery": {
																	"value": "SELECT * FROM TEMP_ClosingStockDetail_Astic WHERE CAST(CONVERT(DATETIME,CONVERT(VARCHAR(20),CREATEDDATE,120)) AS TIme(0)) BETWEEN CAST('@{item().TimePopulated}' AS TIME) AND CAST(DATEADD(mi,1,'@{item().TimePopulated}') AS TIME)",
																	"type": "Expression"
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"sink": {
																"type": "AzureSqlSink",
																"disableMetricsCollection": false,
																"writeBehavior": "insert"
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "DistCode",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "DistCode",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "Item_Code",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "Item_Code",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "Closing_Saleable_Qty",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 0,
																			"precision": 18
																		},
																		"sink": {
																			"name": "Closing_Saleable_Qty",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 0,
																			"precision": 18
																		}
																	},
																	{
																		"source": {
																			"name": "Closing_Offer_Qty",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 0,
																			"precision": 18
																		},
																		"sink": {
																			"name": "Closing_Offer_Qty",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 0,
																			"precision": 18
																		}
																	},
																	{
																		"source": {
																			"name": "ServerDate",
																			"type": "DateTime",
																			"physicalType": "datetime"
																		},
																		"sink": {
																			"name": "ServerDate",
																			"type": "DateTime",
																			"physicalType": "datetime"
																		}
																	},
																	{
																		"source": {
																			"name": "CREATEDDATE",
																			"type": "DateTime",
																			"physicalType": "datetime"
																		},
																		"sink": {
																			"name": "CREATEDDATE",
																			"type": "DateTime",
																			"physicalType": "datetime"
																		}
																	},
																	{
																		"source": {
																			"name": "UploadFlag",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "UploadFlag",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "CycFileID"
																		},
																		"sink": {
																			"name": "CycFileID",
																			"type": "Int64",
																			"physicalType": "bigint"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "dsmarico_TEMP_ClosingStockDetail_Astic",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "dsastix_TEMP_ClosingStockDetail_Astic",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													},
													{
														"name": "Update Success Log_TEMP_ClosingStockDetail_Astic",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "TEMP_ClosingStockDetail_Astic",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[dbo].[SpCycFileEntry_UpdateLog]",
															"storedProcedureParameters": {
																"CycFileID": {
																	"value": {
																		"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																		"type": "Expression"
																	},
																	"type": "Int64"
																},
																"ErrorMessage": {
																	"value": null,
																	"type": "String"
																},
																"RowsCopied": {
																	"value": {
																		"value": "@{activity('TEMP_ClosingStockDetail_Astic').output.rowsRead}",
																		"type": "Expression"
																	},
																	"type": "Int64"
																},
																"RowsRead": {
																	"value": {
																		"value": "@{activity('TEMP_ClosingStockDetail_Astic').output.rowsCopied}",
																		"type": "Expression"
																	},
																	"type": "Int64"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "MaricoAstixTASDB",
															"type": "LinkedServiceReference"
														}
													},
													{
														"name": "Update Error Log_TEMP_ClosingStockDetail_Astic",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "TEMP_ClosingStockDetail_Astic",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[dbo].[SpCycFileEntry_UpdateLog]",
															"storedProcedureParameters": {
																"CycFileID": {
																	"value": {
																		"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																		"type": "Expression"
																	},
																	"type": "Int64"
																},
																"ErrorMessage": {
																	"value": {
																		"value": "@{activity('TEMP_ClosingStockDetail_Astic').output.errors[0].Message}",
																		"type": "Expression"
																	},
																	"type": "String"
																},
																"RowsCopied": {
																	"value": null,
																	"type": "Int64"
																},
																"RowsRead": {
																	"value": null,
																	"type": "Int64"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "MaricoAstixTASDB",
															"type": "LinkedServiceReference"
														}
													},
													{
														"name": "spPopulateActiveProductList",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "Update Success Log_TEMP_ClosingStockDetail_Astic",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[dbo].[spPopulateActiveProductList]",
															"storedProcedureParameters": {
																"FileSetId": {
																	"value": {
																		"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																		"type": "Expression"
																	},
																	"type": "Int64"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "MaricoAstixTASDB",
															"type": "LinkedServiceReference"
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "SpCycFileEntry_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CheckforTablenames",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpCycFileEntry]",
										"storedProcedureParameters": {
											"CycleUnqID": {
												"value": {
													"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID\n",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataDate": {
												"value": {
													"value": "@item().Date",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgProcessType": {
												"value": "2",
												"type": "Byte"
											},
											"TimePopulated": {
												"value": {
													"value": "@item().TimePopulated",
													"type": "Expression"
												},
												"type": "Timespan"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "MaricoAstixTASDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpCycFileEntry_Start",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "ExtractLog_Update_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry]",
											"storedProcedureParameters": {
												"CycleUnqID": {
													"type": "Int32",
													"value": {
														"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID",
														"type": "Expression"
													}
												},
												"DataDate": {
													"type": "DateTime",
													"value": {
														"value": "@item().Date",
														"type": "Expression"
													}
												},
												"FileID": {
													"type": "Int32",
													"value": {
														"value": "@item().FileID",
														"type": "Expression"
													}
												},
												"flgProcessType": {
													"type": "Byte",
													"value": "1"
												},
												"TimePopulated": {
													"type": "Timespan",
													"value": {
														"value": "@item().TimePopulated",
														"type": "Expression"
													}
												},
												"RowID": {
													"type": "Int32",
													"value": {
														"value": "@item().RowID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsastix_NRC_Prk_InputService_Processed_Urban",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "ExtractLog_Update_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExtractLog_Update]",
										"storedProcedureParameters": {
											"Date": {
												"value": {
													"value": "@item().Date",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Timepopulated": {
												"value": {
													"value": "@item().TimePopulated",
													"type": "Expression"
												},
												"type": "TimeSpan"
											},
											"Type": {
												"value": "1",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Marico_Live",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExtractLog_Update_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Source Data Delete",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExtractLog_Update]",
										"storedProcedureParameters": {
											"Date": {
												"value": {
													"value": "@item().Date",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Timepopulated": {
												"value": {
													"value": "@item().TimePopulated",
													"type": "Expression"
												},
												"type": "TimeSpan"
											},
											"Type": {
												"value": "2",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Marico_Live",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Source Data Delete",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SpCycFileEntry_End",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpTransactionDataArchive]",
										"storedProcedureParameters": {
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowID": {
												"value": {
													"value": "@item().RowID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgExecute": {
												"value": "false",
												"type": "Boolean"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Marico_Live",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Cycle Master Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycEntry]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_NRC_Prk_InputService_Urban",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Send Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEachTabletobeimported",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com",
								"Subject": "Marico Datafactory Error",
								"ErrorMessage": {
									"value": "@{activity('CheckforTablenames').output.errors[0].Message}",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"flgDataArchieve": {
						"type": "bool",
						"defaultValue": true
					}
				},
				"folder": {
					"name": "Active Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-29T18:43:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsmarico_TEMP_ClosingStockDetail_Astic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_MaricoDB_AstixDB_DailyTarget')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Data Ready to Import",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Cycle Master Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT M.FileID,'dbo' SchemaName,M.FileName TableName,L.Date,L.TimePopulated,L.RowID FROM ExtractLog L INNER JOIN ExtractMaster M ON M.FileID=L.FileId WHERE   ISNULL(FlgPulled,0)=0 AND Date=CAST(GETDATE() AS DATE) AND M.FileID IN(3) ORDER BY FileID ASC",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsmarico_NRC_Prk_InputService_Urban",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachTabletobeimported",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Data Ready to Import",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Data Ready to Import').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "CheckforTablenames",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "SpCycFileEntry_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Tbl_RetailerwiseTargetClient_Newlogic",
												"activities": [
													{
														"name": "Tbl_RetailerwiseTargetClient_Newlogic",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "SqlServerSource",
																"additionalColumns": [
																	{
																		"name": "CycFileID",
																		"value": {
																			"value": "@activity('SpCycFileEntry_Start').output.firstRow.CycFileID",
																			"type": "Expression"
																		}
																	}
																],
																"sqlReaderQuery": "SELECT * FROM Tbl_RetailerwiseTargetClient_Newlogic",
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"sink": {
																"type": "AzureSqlSink",
																"disableMetricsCollection": false,
																"writeBehavior": "insert"
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "DistributorCode",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "DistributorCode",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "DistributorName",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "DistributorName",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "TargetMonth",
																			"type": "Int32",
																			"physicalType": "int"
																		},
																		"sink": {
																			"name": "TargetMonth",
																			"type": "Int32",
																			"physicalType": "int"
																		}
																	},
																	{
																		"source": {
																			"name": "TargetYear",
																			"type": "Int32",
																			"physicalType": "int"
																		},
																		"sink": {
																			"name": "TargetYear",
																			"type": "Int32",
																			"physicalType": "int"
																		}
																	},
																	{
																		"source": {
																			"name": "DSRID",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "DSRID",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "DSRName",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "DSRName",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "BeatID",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "BeatID",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "BeatName",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "BeatName",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "RetailerCode",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "RetailerCode",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "RetailerName",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "RetailerName",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "CMPRetailerCode",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "CMPRetailerCode",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "ChannelCode",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "ChannelCode",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "ChannelName",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "ChannelName",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "BrandName",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "BrandName",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "TargetVolume",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 6,
																			"precision": 18
																		},
																		"sink": {
																			"name": "TargetVolume",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 6,
																			"precision": 18
																		}
																	},
																	{
																		"source": {
																			"name": "TargetBPM",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 6,
																			"precision": 18
																		},
																		"sink": {
																			"name": "TargetBPM",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 6,
																			"precision": 18
																		}
																	},
																	{
																		"source": {
																			"name": "ParentSKUcode",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "ParentSKUcode",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "CompParentretailerCode",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "CompParentretailerCode",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "CSParentretailercode",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "CSParentretailercode",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "RouteGTMType",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "RouteGTMType",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "IndexBPM",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 6,
																			"precision": 18
																		},
																		"sink": {
																			"name": "IndexBPM",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 6,
																			"precision": 18
																		}
																	},
																	{
																		"source": {
																			"name": "CycFileID"
																		},
																		"sink": {
																			"name": "CycFileID",
																			"type": "Int64",
																			"physicalType": "bigint"
																		}
																	},
																	{
																		"source": {
																			"name": "OutletGTMType",
																			"type": "String",
																			"physicalType": "varchar"
																		},
																		"sink": {
																			"name": "OutletGTMType",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "dsmarico_Tbl_RetailerwiseTargetClient_Newlogic",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "dsastix_Tbl_RetailerwiseTargetClient_Newlogic",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													},
													{
														"name": "Update Success Log_Tbl_RetailerwiseTargetClient",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "Tbl_RetailerwiseTargetClient_Newlogic",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[dbo].[SpCycFileEntry_UpdateLog]",
															"storedProcedureParameters": {
																"CycFileID": {
																	"value": {
																		"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																		"type": "Expression"
																	},
																	"type": "Int64"
																},
																"ErrorMessage": {
																	"value": null,
																	"type": "String"
																},
																"RowsCopied": {
																	"value": {
																		"value": "@{activity('Tbl_RetailerwiseTargetClient_Newlogic').output.rowsRead}",
																		"type": "Expression"
																	},
																	"type": "Int64"
																},
																"RowsRead": {
																	"value": {
																		"value": "@{activity('Tbl_RetailerwiseTargetClient_Newlogic').output.rowsCopied}",
																		"type": "Expression"
																	},
																	"type": "Int64"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "MaricoAstixTASDB",
															"type": "LinkedServiceReference"
														}
													},
													{
														"name": "Update Error Log_Tbl_RetailerwiseTargetClient",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "Tbl_RetailerwiseTargetClient_Newlogic",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[dbo].[SpCycFileEntry_UpdateLog]",
															"storedProcedureParameters": {
																"CycFileID": {
																	"value": {
																		"value": "@{activity('SpCycFileEntry_Start').output.firstRow.CycFileID}",
																		"type": "Expression"
																	},
																	"type": "Int64"
																},
																"ErrorMessage": {
																	"value": {
																		"value": "@{activity('Tbl_RetailerwiseTargetClient_Newlogic').output.errors[0].Message}",
																		"type": "Expression"
																	},
																	"type": "String"
																},
																"RowsCopied": {
																	"value": null,
																	"type": "Int64"
																},
																"RowsRead": {
																	"value": null,
																	"type": "Int64"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "MaricoAstixTASDB",
															"type": "LinkedServiceReference"
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "SpCycFileEntry_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CheckforTablenames",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpCycFileEntry]",
										"storedProcedureParameters": {
											"CycleUnqID": {
												"value": {
													"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID\n",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataDate": {
												"value": {
													"value": "@item().Date",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgProcessType": {
												"value": "2",
												"type": "Byte"
											},
											"TimePopulated": {
												"value": {
													"value": "@item().TimePopulated",
													"type": "Expression"
												},
												"type": "Timespan"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "MaricoAstixTASDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpCycFileEntry_Start",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "ExtractLog_Update_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry]",
											"storedProcedureParameters": {
												"CycleUnqID": {
													"type": "Int32",
													"value": {
														"value": "@activity('Cycle Master Entry').output.firstRow.CycleUnqID",
														"type": "Expression"
													}
												},
												"DataDate": {
													"type": "DateTime",
													"value": {
														"value": "@item().Date",
														"type": "Expression"
													}
												},
												"FileID": {
													"type": "Int32",
													"value": {
														"value": "@item().FileID",
														"type": "Expression"
													}
												},
												"flgProcessType": {
													"type": "Byte",
													"value": "1"
												},
												"TimePopulated": {
													"type": "Timespan",
													"value": {
														"value": "@item().TimePopulated",
														"type": "Expression"
													}
												},
												"RowID": {
													"type": "Int32",
													"value": {
														"value": "@item().RowID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsastix_NRC_Prk_InputService_Processed_Urban",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "ExtractLog_Update_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExtractLog_Update]",
										"storedProcedureParameters": {
											"Date": {
												"value": {
													"value": "@item().Date",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Timepopulated": {
												"value": {
													"value": "@item().TimePopulated",
													"type": "Expression"
												},
												"type": "TimeSpan"
											},
											"Type": {
												"value": "1",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Marico_Live",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExtractLog_Update_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Source Data Delete",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExtractLog_Update]",
										"storedProcedureParameters": {
											"Date": {
												"value": {
													"value": "@item().Date",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Timepopulated": {
												"value": {
													"value": "@item().TimePopulated",
													"type": "Expression"
												},
												"type": "TimeSpan"
											},
											"Type": {
												"value": "2",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Marico_Live",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Source Data Delete",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SpCycFileEntry_End",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpTransactionDataArchive]",
										"storedProcedureParameters": {
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowID": {
												"value": {
													"value": "@item().RowID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgExecute": {
												"value": "false",
												"type": "Boolean"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Marico_Live",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Cycle Master Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycEntry]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsastix_NRC_Prk_InputService_Urban",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Send Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEachTabletobeimported",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com",
								"Subject": "Marico Datafactory Error",
								"ErrorMessage": "Eror in Type 1 Transfer log on to portal for more details"
							}
						}
					}
				],
				"parameters": {
					"flgDataArchieve": {
						"type": "bool",
						"defaultValue": true
					}
				},
				"folder": {
					"name": "Active Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-29T18:43:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsmarico_Tbl_RetailerwiseTargetClient_Newlogic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_MaricoDB_AstixDB_Full_LoadOldData_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OLd Data Transfer to main table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpArchDataLoding]",
							"storedProcedureParameters": {
								"Date": {
									"value": {
										"value": "@adddays(formatDateTime(pipeline().parameters.DataProcessDate,'dd-MMM-yyyy'),0)\n",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Marico_Live",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TEMP_BillwiseITEMWISE_Astic",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "OLd Data Transfer to main table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "CycFileID",
										"value": {
											"value": "0",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": "SELECT * FROM TEMP_BillwiseITEMWISE_Astic",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "t_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "t_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "dist_code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "dist_code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "dsr_id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "dsr_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dsr_name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "dsr_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "beat_id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "beat_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "beat_name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "beat_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "channel",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "channel",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "channel_sub",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "channel_sub",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "program_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "program_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "program_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "program_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "program_3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "program_3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "program_4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "program_4",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "program_5",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "program_5",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "program_6",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "program_6",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "retailer_type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "retailer_type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "parent_retailer_code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "parent_retailer_code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "retailer_id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "retailer_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "retailer_code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "retailer_code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "retailer_name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "retailer_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "item_comp_code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "item_comp_code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "item_code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "item_code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "batch_no",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "batch_no",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sale_inv_no",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "sale_inv_no",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sale_inv_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "sale_inv_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "sal_inv_doc",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "sal_inv_doc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "qty",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "qty",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										},
										"sink": {
											"name": "rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "sales_volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "sales_volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "sales_value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "sales_value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "primary_scheme",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "primary_scheme",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "secondary_scheme",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "secondary_scheme",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "spl_disc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										},
										"sink": {
											"name": "spl_disc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "dist_disc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "dist_disc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "disp_disc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										},
										"sink": {
											"name": "disp_disc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "addi_lnd",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "addi_lnd",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "sal_ret",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "sal_ret",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "tax1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										},
										"sink": {
											"name": "tax1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "tax2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										},
										"sink": {
											"name": "tax2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "total_tax",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "total_tax",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "total_dedn",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "total_dedn",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "net_value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "net_value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "upload_flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "upload_flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "teleorderno",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "teleorderno",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "upload_time",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "upload_time",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "mrp",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "mrp",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "retailermargin",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "retailermargin",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "lastmoddate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "lastmoddate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "bill_status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "bill_status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "company_code",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "company_code",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "salesqty",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "salesqty",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "offerqty",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "offerqty",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "t_sales_volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "t_sales_volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "freevolume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "freevolume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "primaryamt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "primaryamt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "primaryschemevolume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "primaryschemevolume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "secondaryschemevolume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "secondaryschemevolume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "p3discount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "p3discount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "cashdiscount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										},
										"sink": {
											"name": "cashdiscount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "salesextax",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "salesextax",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "last_src_update_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "last_src_update_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CmpRtrCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CmpRtrCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ParentCmpRtrCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ParentCmpRtrCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RouteGTMType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RouteGTMType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NormalSecSchemeAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "NormalSecSchemeAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "AddSecSchemeAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										},
										"sink": {
											"name": "AddSecSchemeAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "CycFileID"
										},
										"sink": {
											"name": "CycFileID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsmarico_TEMP_BillwiseITEMWISE_Astic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dsastix_TEMP_BillwiseITEMWISE_Astic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"DataProcessDate": {
						"type": "string",
						"defaultValue": "02-Jun-2021"
					}
				},
				"folder": {
					"name": "Active Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-08T06:05:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsmarico_TEMP_BillwiseITEMWISE_Astic')]"
			]
		}
	]
}